.tabs {
    display: flex;
    margin-top: 30px;
    padding-left: 7%;
    border-bottom: solid 2px #5F5F5F;
}

.tab-suggest,
.tab-mylist {
    padding-left: 50px;
    text-decoration: none;
    font-size: 22px;
    color: #5F5F5F;
}

.tab-suggest.active,
.tab-mylist.active {
    color: #FF0000;
}

.tab-content {
    margin: 0 3%;
}

.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
}

.list-card {
    position: relative;
    width: 25%;
    margin-top: 30px;
}

.card__image {
    width: 90%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 4px;
}

.item-link {
    text-decoration: none;
    color: #000;
}

.sold-stamp {
    position: absolute;
    top: 15px;
    left: -5px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    padding: 4px 16px;
    transform: rotate(-45deg);
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    pointer-events: none;
    opacity: 0.9;
}

.card__title {
    margin: 5px 0 30px;
    width: 90%;
    font-size: 20px;
}