.profile {
    display: flex;
    margin: 5% 15%;
}

.rounded-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.user-name {
    margin: auto auto auto ;
    font-size: 28px;
    font-weight: bold;
}

.profile-link {
    margin: auto 0 auto auto;
}

.profile-link__button {
    color: #FF5555;
    font-size: 18px;
    font-weight: bold;
    background-color: #fff;
    border: solid 2px #FF5555;
    border-radius: 10px;
    padding: 8px 12px;
    cursor: pointer;
}

.tabs {
    display: flex;
    margin-top: 30px;
    padding-left: 7%;
    border-bottom: solid 2px #5F5F5F;
}

.tab-button {
    padding-left: 50px;
    color: #5F5F5F;
    text-decoration: none;
    font-size: 20px;
}

.tab-button.active {
    color: #FF0000;
}

.tab-content {
    margin: 0 5%;
}

.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
}

.list-card {
    position: relative;
    width: 25%;
    margin-top: 30px;
}

.item-link {
    text-decoration: none;
    color: #000;
}

.list-card img {
    width: 90%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 4px;
}

.sold-stamp {
    position: absolute;
    top: 15px;
    left: -5px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    padding: 4px 16px;
    transform: rotate(-45deg);
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    pointer-events: none;
    opacity: 0.9;
}

.image-title {
    margin: 5px 0 30px;
    width: 90%;
    font-size: 20px;
}