.main {
    margin: 7% 5%;
    display: flex;
}

.order-details {
    width: 55%;
}

.order__group {
    border-bottom: solid 1px #000;
}

.item-image{
    width: 35%;
    float: left;
    margin-right: 10%;
}

.item-name {
    font-size: 3vw;
    font-weight: bold;
}

.item-price span {
    font-size: 2.5vw;
    padding-right: 5px;
}

.item-price {
    margin-bottom: 20%;
    font-size: 3vw;
}

.order__group-p {
    font-size: 2vw;
    font-weight: bold;
    margin-left: 5%;
}

.form__select {
    position: relative;
    margin: 10% 20%;
    width: 40%;
}

.form__select::after {
    content: "";
    position: absolute;
    top: 1.1vh;
    right: 1vw;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-top: 12px solid #5F5F5F;
    border-bottom: 0;
    pointer-events: none;
}

.payment-method {
    width: 100%;
    height: 30px;
    font-size: 1.5vh;
    appearance: none;
    padding-left: 2%;
    color: #5F5F5F;
    border-radius: 4px;
    border: solid 1px #5F5F5F;
}

.group__row {
    display: flex;
    justify-content: space-between;
}

.group__row a {
    font-size: 1.5vw;
    text-decoration: none;
    color: #0073CC;
    margin-top: 5%;
}

.destination {
    margin: 10% 20%;
    font-size: 2vw;
    font-weight: bold;
}

.order-confirm {
    width: 45%;
    margin-left: 5%;
}

table {
    width: 100%;
}

table,tr {
    margin: 10% auto;
    border: solid 1px #000;
}

.order-confirm span {
    padding-right: 5px;
}

th {
    font-size: 2vw;
    font-weight: 400;
    padding: 10% 0;
}

td {
    text-align: center;
    font-size: 2.2vw;
}

.purchase-button {
    font-size: 2.2vw;
    font-weight: bold;
    width: 100%;
    color: #fff;
    background-color: #FF5555;
    border: none;
    border-radius: 5px;
    padding: 3% 0;
}